# Shared env (loaded by both apps if needed)
NODE_ENV=development

# api
API_PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/__project_kebab__

# web
VITE_API_BASE_URL=http://localhost:3000
